/*
Theme Name: JM Portfolio 26
Theme URI: https://jakematauch.com
Description: My custom child theme
Author: Your Name
Author URI: https://jakematauch.com
Template: twentytwentyfive
Version: 1.0.0
Text Domain: jm-portfolio
*/